<div class="path">
    <h3>ID: {{path?._id}}
        <!-- <fa-icon
            [ngStyle]="{'color': 'red'}"
            [icon]="faTimes"
            (click)="onDelete(path)"
        ></fa-icon> -->
    </h3>
    <p>Domain ID: {{path?.domainId}}</p>
    <p>Departure Warehouse: {{path?.departure_warehouse}}</p>
    <p>Arrival Warehouse: {{path?.arrival_warehouse}}</p>
    <p>Distance: {{path?.distance}}</p>
    <p>Time: {{path?.time}}</p>
    <p>Energy used: {{path?.energy_used}}</p>
    <p>Extra time: {{path?.extra_time}}</p>
</div>
