<div class="p-5 bg-image" style="
height: 75vh;
 background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
">
</div>

<div class="container my-5">
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: -550px;
  background: hsla(0, 0%, 100%, 0.6);
  backdrop-filter: blur(25px);
  width: 100%;
  border-radius: 1rem;
  ">

<section style="background: hsla(0, 0%, 100%, 0.0);">
  <div class="container py-5">

    <div id="row" class="row">
      <div class="col-lg-4">
        <div class="card mb-4" style=" background: hsla(0, 0%, 100%, 0.0);">
          <div id="card" class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"></h5>
            <p class="text-muted mb-1"></p>
            <div class="d-flex justify-content-center mb-2">

            </div>
          </div>
        </div>

      </div>
      <div class="row d-flex justify-content-center">

        <div class="col-lg-12">
          <h2 class="fw-bold mb-5" style="text-align: center;">Users accounts management <i class="fa fa-cog" aria-hidden="true"></i></h2>
          <h4 style="text-align: center;">What would you like to do?</h4>
          <button id="create" routerLink="register" class="btn btn-primary btn-rounded" style="margin: 10px 10px 0 10px; width: 275px"><b>Create a new user's account <i class="fa fa-user-plus" aria-hidden="true"></i></b></button>
          <button id="users" routerLink="users" class="btn btn-primary btn-rounded" style="margin: 10px 10px 0 10px; width: 275px;"><b>Cancel an existing user's account <i class="fa fa-user-times" aria-hidden="true"></i></b></button>
        </div>

      </div>
    </div>
  </div>

</section>

</div>

