<div class="p-5 bg-image" style="
 height: 75vh;
  background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
">
</div>

<div class="container my-5">
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: -500px;
  background: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(25px);
  width: 100%;
  border-radius: 1rem;
  ">

<div class="container my-5">
  <h1 class="mb-4">Edit Delivery</h1>

  <div class="row">
    <div class="col-6">

      <form #form="ngForm" style="margin-left: 10px" (ngSubmit)="updateDelivery()">
        <div class="mb-3">

          <label for="id">Id</label>
          <input type="text" class="form-control" id="id" readonly name="id"
           [(ngModel)]="deliveryDetails.id">
        </div>

        <div class="mb-3">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date" name="date"
           [(ngModel)]="deliveryDetails.dateOfDelivery"
          placeholder="Enter date">
        </div>

        <div class="mb-3">
          <label for="deliverymass">Delivery mass</label>
          <input type="number" class="form-control" id="deliverymass" name="deliverymass"
           [(ngModel)]="deliveryDetails.deliveryMass"
          placeholder="Enter delivery mass">
        </div>

        <div class="mb-3">
          <label for="warId">Warehouse Id</label>
          <input type="text" class="form-control" id="warId" readonly name="warId"
          [(ngModel)]="deliveryDetails.warehouseId">
        </div>

        <div class="mb-3">
          <label for="placTime">Placement time</label>
          <input type="number" class="form-control" id="placTime" name="placTime"
          [(ngModel)]="deliveryDetails.placementTime"
          placeholder="Enter placement time">
        </div>

        <div class="mb-3">
          <label for="recTime">Receive time</label>
          <input type="number" class="form-control" id="recTime" name="recTime"
          [(ngModel)]="deliveryDetails.receiveTime"
          placeholder="Enter receive time">
        </div>

        <button type="submit" class="btn btn-primary" style="margin: 0 10px 10px 10px;">Save</button>
        <button type="button" class="btn btn-primary" style="margin: 0 10px 10px 10px;"
         (click)="goBack()">Back to the list</button>
      </form>

    </div>
  </div>
</div>
</div>
